@font-face {
    font-family: "SF Distant Galaxy";
    font-weight: 300;
    src: url("/fonts/SFDistantGalaxy.ttf") format("ttf");
  }
 
  @font-face {
    font-family: "SF Distant Galaxy Italic";
    font-weight: 300;
    src: url("/fonts/SFDistantGalaxyItalic.ttf") format("ttf");
  }

  @font-face {
    font-family: "SF Distant Galaxy Outline";
    font-weight: 300;
    src: url("/fonts/SFDistantGalaxyOutline.ttf") format("ttf");
  }
  
  @font-face {
    font-family: "SF Distant Galaxy Outline Italic";
    font-weight: 300;
    src: url("/fonts/SFDistantGalaxyOutlineItalic.ttf") format("ttf");
  }
  
 