@font-face {
    font-family: "SF Distant Galaxy";
    src: url("/fonts/SFDistantGalaxy.woff") format("woff");
  }
 

  @font-face {
    font-family: "SF Distant Galaxy";
    src: url("/fonts/SFDistantGalaxy.ttf") format("ttf");
  }
 
